# H&M Personalized Fashion Recommendations: 1. Data preparation

In [1]:
import numpy as np
import pandas as pd

## 1. Data download

In [9]:
articles = pd.read_csv("../input/articles.csv", dtype={"article_id": str})
customers = pd.read_csv("../input/customers.csv")
transactions = pd.read_csv("../input/transactions.csv", dtype={"article_id": str})

## 2. Articles

In [10]:
print(articles.shape)
articles.head(3)

(105542, 25)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,0108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,0108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.

In [28]:
articles.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [11]:
articles["product_code_name"] = articles[["product_code", "prod_name"]].astype(str).agg(": ".join, axis=1)
articles["department_no_name"] = articles[["department_no", "department_name"]].astype(str).agg(": ".join, axis=1)
articles["section_no_name"] = articles[["section_no", "section_name"]].astype(str).agg(": ".join, axis=1)

articles = articles.drop([
    "product_code", "prod_name", "product_type_no", "graphical_appearance_no", 
    "colour_group_code", "perceived_colour_value_id", "perceived_colour_master_id", 
    "department_no", "department_name", "index_code", "index_group_no", "section_no", 
    "section_name", "garment_group_no"], 
    axis=1
)

In [12]:
def crop_by_top_values(series, min_value_count):

    series_value_counts = series.value_counts()
    value_list = series_value_counts[series_value_counts > min_value_count].index

    new_series = series.apply(lambda x: x if x in value_list else "Other")
    return new_series

articles["product_code_name"] = crop_by_top_values(articles["product_code_name"], min_value_count = 20)

In [13]:
for col in articles.columns:
    print(col, articles[col].unique().shape[0])

article_id 105542
product_type_name 131
product_group_name 19
graphical_appearance_name 30
colour_group_name 50
perceived_colour_value_name 8
perceived_colour_master_name 20
index_name 10
index_group_name 5
garment_group_name 21
detail_desc 43405
product_code_name 71
department_no_name 299
section_no_name 57

## 3. Customers

In [14]:
print(customers.shape)
customers.head(3)

(1371980, 7)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...

In [15]:
for col in customers.columns:
    print(col, customers[col].unique().shape[0])

customer_id 1371980
FN 2
Active 2
club_member_status 4
fashion_news_frequency 5
age 85
postal_code 352899

In [16]:
customers = customers.fillna({"FN": 0.0, "Active": 0.0, 
                              "club_member_status": "Other", 
                              "fashion_news_frequency": "None", 
                              "age": -9999})

In [17]:
customers["postal_code"] = crop_by_top_values(customers["postal_code"], min_value_count=30)

## 4. Transactions

In [18]:
print(transactions.shape)
transactions.head(3)

(31788324, 5)

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2

In [19]:
transactions["sales_channel_1"] = (transactions["sales_channel_id"] == 1).astype(int)
transactions["sales_channel_2"] = (transactions["sales_channel_id"] == 2).astype(int)

### Additional user information

In [20]:
customer_agg = (
    transactions.groupby(["customer_id"])
                .agg({"price": ["min", "max", "mean", "std"],
                      "sales_channel_1": ["sum"], 
                      "sales_channel_2": ["sum"]})
)

customer_agg.columns = customer_agg.columns.map(lambda x: "_".join(x))
customer_agg

,price_min,price_max,price_mean,price_std,sales_channel_1_sum,sales_channel_2_sum
customer_id,,,,,,
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657,0.010153,0.054220,0.030904,0.015718,9,12
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,0.006763,0.084729,0.030255,0.016957,5,81
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,0.013542,0.067780,0.039154,0.016858,0,18
00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2c5feb1ca5dff07c43e,0.030492,0.030492,0.030492,0.000000,0,2
00006413d8573cd20ed7128e53b7b13819fe5cfc2d801fe7fc0f26dd8d65a85a,0.016932,0.059305,0.036130,0.012638,2,11
...,...,...,...,...,...,...
ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e4747568cac33e8c541831,0.005068,0.067780,0.025340,0.011733,13,38
ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab53481233731b5c4f8b7,0.005068,0.076254,0.021516,0.013751,28,56
ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1778d0116cffd259264,0.004559,0.042356,0.017532,0.009565,11,34
ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38b2236865d949d4df6a,0.013542,0.050831,0.029886,0.015244,1,6
ffffd9ac14e89946416d80e791d064701994755c3ab686a1eaf3458c36f52241,0.084729,0.084729,0.084729,NaN,0,1

In [21]:
customers = customers.merge(customer_agg, on="customer_id", how="left")
customers = customers.fillna(0.0)

### Additional user information

In [22]:
articles_agg = (
    transactions.groupby(["article_id"])
                .agg({"price": ["min", "max", "mean", "std"],
                      "sales_channel_1": ["sum"], 
                      "sales_channel_2": ["sum"]})
)

articles_agg.columns = articles_agg.columns.map(lambda x: "_".join(x))
articles_agg

,price_min,price_max,price_mean,price_std,sales_channel_1_sum,sales_channel_2_sum
article_id,,,,,,
0108775015,0.001339,0.009153,0.008142,0.000652,2485,8356
0108775044,0.001424,0.008508,0.008114,0.000735,2101,5149
0108775051,0.003237,0.008458,0.004980,0.000544,1,214
0110065001,0.002525,0.025407,0.020219,0.006844,652,392
0110065002,0.004542,0.025407,0.018205,0.006004,186,353
...,...,...,...,...,...,...
0952267001,0.010153,0.016932,0.014982,0.002385,25,16
0952938001,0.040661,0.050831,0.048006,0.004300,0,9
0953450001,0.015305,0.016932,0.016836,0.000395,0,17
0953763001,0.021169,0.022017,0.021908,0.000251,0,35
0956217002,0.057407,0.059305,0.059152,0.000493,0,21

In [23]:
articles = articles.merge(articles_agg, on="article_id", how="left")
articles = articles.fillna(0.0)

## 5. Index transformation

In [ ]:
# customers = (
#     customers.reset_index()
#             .rename({"customer_id": "customer_id_raw", 
#                      "index": "customer_id"}, axis=1)
# )

# articles = (
#     articles.reset_index()
#             .rename({"article_id": "article_id_raw",
#                      "index": "article_id"}, axis=1)
# )

In [ ]:
# transactions = (
#     transactions.rename({"customer_id": "customer_id_raw",
#                          "article_id": "article_id_raw"}, axis=1)
#         .merge(customers[["customer_id", "customer_id_raw"]], on="customer_id_raw", how="inner")
#         .merge(articles[["article_id", "article_id_raw"]], on="article_id_raw", how="inner")
# )
# transactions

## 6. Train test split

In [24]:
transactions = transactions[["t_dat", "customer_id", "article_id"]]

In [25]:
transactions["t_dat"].min(), transactions["t_dat"].max()

('2018-09-20', '2020-09-22')

In [26]:
split_date = "2020-09-15"
transactions_train = transactions[transactions["t_dat"] < split_date] 
transactions_test = transactions[transactions["t_dat"] >= split_date]

In [27]:
print("Test shape: ", transactions_test.shape[0])
print("Test size: ", transactions_test.shape[0] / transactions.shape[0])

Test shape:  266364
Test size:  0.008379303042211348

## 6. Data save

In [28]:
articles.to_csv("../input/articles_proc.csv", header=True, index=False)
customers.to_csv("../input/customers_proc.csv", header=True, index=False)
transactions_train.to_csv("../input/transactions_train.csv", header=True, index=False)
transactions_test.to_csv("../input/transactions_test.csv", header=True, index=False)
transactions.to_csv("../input/transactions_full.csv", header=True, index=False)